
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
.navbar{
    background-color: rgba(240, 232, 232, 0.913);
    margin-top:5px;
    margin-left: 5px;
    margin-right: 5px;
   height:auto;
   width:auto;
   padding:14px 10px;
   border-radius: 15px;
  position: fixed;
  top: 0; 
    width: 100%; 
    z-index: 100; 
}

main{
    padding-top: 80px;
}
img{
    height:25px;
    width:25px;
}
ul{
    list-style: none;
}

.list{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;
}

/* #section1{
    background-color: brown;
    
    height: 700px;
} */
/* #section2{
   
} */
#section3{
    background-color:darkgreen;
    
    height: 700px;
}
#section4{
    background-color:blueviolet;
    
    height: 700px;
}
#section5{
    background-color:yellow;
   
    height: 700px;
}
#section6{
    background-color: rebeccapurple;
   
    height: 700px;
}
#section7{
    background-color: rgb(232, 3, 220);
  
    height: 700px;
}
#me{
    background-color: chocolate;

}
.home{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    height:auto;
    width: 100%;
    padding: 20px 20px;
    margin-top: 70px;
    align-items: center;
}

.mypic{
    border-radius: 50%;
    height: 270px;
    width: 100%;
 
    box-shadow: 0 2px 8px rgba(236, 216, 60, 0.3);
   cursor: pointer;
}
.mypic:hover{
    box-shadow: 0 5px 20px rgba(236, 216, 60, 0.3);

}

.abt1 h2{
    font-size: 5rem;
    font-weight: 800;
    color: dodgerblue;
   }
.abt1 h2 span{
 
    color:rgb(244, 100, 17);
   }

.abt1 h3{
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1rem 0;
   }
#me{
    border-radius: 10px;
    padding: 4px 13px;
    font-size: 1.5rem;
    background-color: rgb(97, 248, 233);
}